extends layout

html
  head
    title AUTOSQL API
  body
    block content
      h1 Database Health Check
      h4 Status:
      p= db_status
      h4 Message:
      p= db_message
      h4 Database Connection Info:
      p= db_info
